* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



.row {
    padding: 15px;
    background: #ddd;
}

article{
    margin: 0 0 25px -4px;
}

.col-1-4 {
    padding: 15px;
    background: #eee;
    width: 33.33%;
    display: inline-block;
}

@media screen and (max-width: 940px) {
  .col-1-4 {
    width: 50%;
  }
}

@media screen and (max-width: 640px) {
  .col-1-4 {
    width: 100%;
  }
}

img {
    max-width: 100%;
}